{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <title>Store -
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description"
              content="A simple online store with some basic features like product listing, searching, and product details." />
        <meta name="keywords"
              content="online store, ecommerce, product listing, shopping, product details" />
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        {% include "partials/header.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "partials/footer.html" %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
